@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');



body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Onest";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-background);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */

header {
  margin-left: -5vw;
  margin-right: -5vw;
  position: fixed;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  background: white;
  backdrop-filter: blur(8px);
  display: flex;
  height: 100px;
  place-items: center;

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  place-items: center;
}
.menu {
  height: 100px;
  width: 50vw;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  position: relative;
  height: 55px;
  width: 165px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.btn:before {
  content: '';
  position: absolute;
  height: 300px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(-20deg) translateX(200px);
}

.icon {
  height: 55px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2%;
}

.icon.telegram {
  content: url(/public/icons/telegram.png);
}

.icon:hover {
  background: #4824ff;
  filter: drop-shadow(0px 0px 35px #4824ff40);
}




/* WELCOME BLOCK */

.welcome-block {
  height: 800px;
  display: flex;
  place-items: center;
}

.welcome-block h1 {
  font-size: 52px;
}

.welcome-block h2 {
  font-size: 42px;
  font-weight: 450;
}

.welcome-block h3 {
  font-size: 30px;
  font-weight: 300;
}



.title {
  background: linear-gradient(to right, #4824ff, #4824ff, #85ebff, #4824ff, #4824ff);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 200% 50% }
  100% { background-position: 0% 50% }
}

.welcome-block .first-block {
  align-content: center;
  width: 55%;
}

.main-image-layer {
  width: 45%;
  margin-top: -3%;
}

/* SERVICE */

.service-block {
  height: 600px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: #ffffffbd;
  align-content: center;
}

.service-block .tag {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: #d4cbff;
  color: black;
  margin: 0 12px 0 0;
  padding: 8px 12px 8px 8px;
  border-radius: 24px;
}

.service-block .tag .tag-icon {
  margin: -10px;
  padding: 0;
  position: relative;
  content: url(/public/icons/check.png);
  background: none;
  scale: 0.33;
  height: 50px;
}



/* MAP BLOCK */

.portfolio-block {
  height: 740px;
}


.portfolio-block .first-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-block .main-title {
  font-size: 56px;
  font-weight: 500;
  background: linear-gradient(to right, black, #4824ff);
  color: transparent;
  background-clip: text;
}
/* FOOTER */

.footer {
  height: 80px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid var(--main-elements-color);
  margin-left: -5vw;
  margin-right: -5vw;
  align-content: center;
}

/* UP BUTTON */

.btn-up {
  position: fixed;
  right: 5vw;
  bottom: 6vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s linear;
  animation: appearance 2s forwards;
  border: none;
  opacity: 0;
  transform: translateY(0px);
  background: transparent;
}

@keyframes appearance {
  0% { opacity: 0; transfrom: translateY(40px)}
  100% { opacity: 1; transform: translateY(0px)}
}

.btn-up::before {
  content: '';
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
  background-image: url(/public/icons/slideup.png);
  background-color: #4824ff;
  border-radius: 50px;
}